.satoshi-300 {
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.satoshi-400 {
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.satoshi-500 {
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.satoshi-700 {
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.satoshi-900 {
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
