.switzer-200 {
  font-family: "Switzer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.switzer-400 {
  font-family: "Switzer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.switzer-500 {
  font-family: "Switzer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.switzer-600 {
  font-family: "Switzer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.switzer-700 {
  font-family: "Switzer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.switzer-800 {
  font-family: "Switzer", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
