@import "../../public/fonts/dm-sans.css";
@import "../../public/fonts/inter.css";
@import "../../public/fonts/lato.css";
@import "../../public/fonts/lexend.css";
@import "../../public/fonts/manrope.css";
@import "../../public/fonts/monsterrat.css";
@import "../../public/fonts/open-sans.css";
@import "../../public/fonts/poppins.css";
@import "../../public/fonts/raleway.css";
@import "../../public/fonts/roboto.css";
@import "../../public/fonts/satoshi.css";
@import "../../public/fonts/space-grotesk.css";
@import "../../public/fonts/switzer.css";
@import "../../public/fonts/work-sans.css";
